<!DOCTYPE html>

<html>
<head lang="en">
    <title>パソコン注文業務</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="/css/style.css" rel="stylesheet" media="screen" />

    <script src="../static/js/jquery-3.5.1.min.js"></script>
</head>
<body>

<div class="container">
    <form method="post" action="/TPNUA2">
        <div align="right" class="times"><span>日付</span>&nbsp;&nbsp;&nbsp;&nbsp;<span id="times"></span></div><br />
        <div><span class="tittle">＜＜</span><span class="tittleValue">パソコン注文業務</span><span class="tittle">＞＞</span></div>
        <div><br />
            <table width="100%">
                <tr>
                    <th width="10%">番号</th>
                    <th width="45%">店名</th>
                    <th width="45%">氏名</th>
                </tr>
                <tr>
                    <td class="right">1</td>
                    <td>渋谷本店</td>
                    <td>相田</td>
                </tr>
                <tr>
                    <td class="right">2</td>
                    <td>新宿店</td>
                    <td>斎藤</td>
                </tr>
                <tr>
                    <td class="right">3</td>
                    <td>新大阪店</td>
                    <td>星野</td>
                </tr>
            </table>
            <div><br /><br />
                <div class="bottomText">処理される方の番号を入力してください&nbsp;
                    <input type="text" class="input2" name="number" id="number" autocomplete="off" onkeydown="if(event.keyCode==13){event.keyCode=0;event.returnValue=false;}" />
                </div><div class="bottomSubmit"><button id="check">送信</button></div>
            </div>
            <input type="hidden" name="TRNS_NAME" value="0000001" />
            <input type="hidden" name="IN_TRNM" value="TRNUA1" />
            <input type="hidden" name="IN_CONTINUE" value="0" />
            <input type="hidden" name="TRNS_STATUS" value="00" />
        </div><br /><br /><br /><br />
<!--        <div class="message">-->
<!--            <font color="red">-->
<!--                <span>またおねがいします　　</span>-->
<!--            </font>-->
<!--        </div>-->
    </form>
</div>
<script type="text/javascript">
    window.onload = function()
    {
        document.getElementById("number").focus();
    }
    var date = new Date();
    var yyyy = date.getFullYear();
    var mm = date.getMonth() + 1;
    if(9 > mm){
        mm = "0" + mm;
    }
    var dd = date.getDate();
    if(10 > dd){
      dd = "0" + dd;
    }
    var compare = yyyy+mm+dd; //string
    var reiwa = '20190501'; //2019年5月1日より令和
    var mmdd, yy;
      if (reiwa >compare){
          yy = yyyy-1988;
      } else {
          yy = yyyy-2018;
      }
      if (10 > yy){
          yy = "0"+yy;
      }
      mmdd = "0" + mm+"月"+dd+"日";
      if (reiwa >compare){
          document.getElementById("times").innerHTML =  yy+"."+mm+"."+dd; // 平成24年05月09日
      } else {
          document.getElementById("times").innerHTML =  yy+"."+mm+"."+dd; // 令和02年05月09日
      }
      $("#check").click(function(){
          if($("#number").val()==""||!"123".match($("#number").val())){
            $("#number").val("!");
            event.preventDefault();
          }
        });
  </script>
</body>
</html>